{% extends "layout.html" %}
{% block content %}
    {% for track in tracks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
            {% if track[4] == 0 %}
              <a class="mr-2">Type: Value</a>
            {% elif track[4] == 1 %}
              <a class="mr-2">Type: Time</a>
              {% endif %}
              <small class="text-muted">made: {{ track[5] }}</small>
            </div>
            <h2><a class="article-title" href="my_tracks_show?id={{ track[0] }}">{{ track[2] }}</a></h2>
            <p class="article-content">trackvars</p>

           
            <form action="create_var?id={{ track[0] }}" method="post">
              <article class="media content-section">
                {% if track[4] == 0 %}
                <div class="form-group">
                  <div class="form-group">
                  <input type="number" id="var" name="var" class="form-control" placeholder="Ny var">
                  </div>
                  <div class="form-group">
                  <input type="time" id="dato" name="dato" class="form-control" placeholder="Ny var" value="None" hidden>
                  </div>
                </div>
                {% elif track[4] == 1 %}
                <div class="form-group">
                  <div class="form-group">
                  <input type="text" id="var" name="var" class="form-control" placeholder="Ny var" value="None" hidden>
                  </div>
                  <div class="form-group">
                  <input type="time" id="dato" name="dato" class="form-control" placeholder="Ny var">
                  </div>
                </div>
                {% elif track[4] == 2 %}
                <div class="form-group">
                  <div class="form-group">
                  <input type="hidden" id="var" name="var" class="form-control" placeholder="Ny var" value="None">
                  </div>
                  <div class="form-group">
                  <input type="hidden" id="dato" name="dato" class="form-control" placeholder="Ny var" value="None">
                  </div>
                  <div>
                    <label class="form-control container">
                      <div class="btn-group">1
                      {% for i in range(track[6]) %}
                      <input type="radio" name="scale" value={{i+1}} required>
                      <span class="checkmark"></span>
                      {% endfor %}
                      {{ track[6] }}
                      
                      
                      </div>
                    </label>
                  </div>
                </div>
                {% endif %}
                <input type="submit" class="form-control btn btn-login alert-info" value="Tilføj Var"></input>
              </article>
             </form>
            <form action="delete_track?id={{ track[0] }}" method="post">
            <input type="submit" class="form-control btn btn-login alert-danger" value="slet track"></input>
            </form>
          </div>
        </article>
        
        
        
    {% endfor %}
    <a input="button" class="form-control btn btn-login" href="/create_track">Opret track</a>
    
    

{% endblock content %}