{% extends "layout.html" %}
{% block content %}
<div class="row box" id="login-box">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-login">
<div class="panel-body">
  <div class="row">
  <div class="col-lg-12">
    {% if success == False %}
      <div class="alert alert-danger hide" role="alert">Username already in use</div>
    {% endif %}
    <h1>Register</h1>
    <form action="create_user" method="post">
        <div class="form-group">
        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Brugernavn" value=""  required>
        </div>
        <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Kodeord" required>
        </div>
        <div class="form-group">
        <input type="email" name="email" id="email" tabindex="3" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
        <input type="text" name="age" id="age" tabindex="4" class="form-control" placeholder="Alder">
        </div>
        <div class="form-group">
        <select name="køn" id="køn" tabindex="5" class="form-control" placeholder="Køn">
          <option value="0">Mand</option>
          <option value="1">Kvinde</option>
        </select>
        <input type="submit" tabindex="6">
    </form>
  </div>
  </div>
</div>
<div class="panel-heading">
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
